name: CI
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master
env:
  IMAGE_TAG: ${{ github.sha }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-node@v1
        with:
          node-version: '12.15'
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-client-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-client-
      - name: Lint
        run: make lint
      - name: Unit Test
        run: make test
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-node@v1
        with:
          node-version: '12.15'
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-client-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-client-
      - name: Build
        run: make build
      - name: Save Docker images
        run: |
          mkdir -p docker-image
          docker save -o docker-image/reviewer-submission.tar libero/reviewer-submission:${IMAGE_TAG}
          gzip docker-image/reviewer-submission.tar
      - name: Upload prod Docker image
        uses: actions/upload-artifact@v1
        with:
          name: docker-image
          path: docker-image
  integration-test:
    needs: [test, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - uses: actions/setup-node@v1
        with:
          node-version: '12.15'
      - uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.os }}-yarn-client-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-client-
      - name: Download Docker image artifact
        uses: actions/download-artifact@v1
        with:
          name: docker-image
      - name: Load Docker image
        run: |
          gunzip docker-image/reviewer-submission.tar.gz
          docker load -i docker-image/reviewer-submission.tar
      - name: Service Setup
        run: make setup
      - name: Start services & Integration tests
        run: make test_integration
